<div class="heroContent">
    <div class="heroGridContent">
        <div class="parent">
            <div class="div1 createFrame">
                <h1>Hey, I'm David</h1>
                <h2>Junior Frontend Developer</h2>
            </div>
            <div class="div2 createFrame">
                <h1>Github Graph</h1>
            </div>
            <div class="div3 createFrame">
                <img src="/linkedInIcon.svg" alt="">

                .<h3>LinkedIn</h3>
            </div>
            <div class=" div4 createFrame">
                <img src="/imagePlaceholder 1.svg" alt="">
            </div>
            <div class="div5 createFrame">
                <h4>Age: 26</h4>
                <h4>Passion: Development, Gaming, Design</h4>
                <h4>Living in Weißenburg in Bayern</h4>
            </div>
            <div class="div6 createFrame">
                <h1>
                    My Tech Stack: Current Skills and Future Aspirations
                </h1>
            </div>
            <div class="div7 createFrame">
                <img src="/githubIcon.svg" alt="">
                <h3>Github</h3>
            </div>
            <div class="div8 createFrame">
                <div class="motivationSpeach">
                    <img src="/codeIcon.svg" alt="">
                    <h4>I am motivated to continously learn new technologies and develop myself. My ability to solve
                        complex <br>
                        problems and my passion for programming make me a valuable membber of your team</h4>
                </div>
                <div class="technologieRequest">
                    <img src="/brain.png" alt="">
                    <h4>I am always happy to learn new technologies, just tell me what you need</h4>
                </div>
                w . <div class="location">
                    <img src="/location-arrow.png" alt="">
                    <h4>I am located in Weißenburg in Bayern</h4>
                </div>
            </div>
            <div class="div9 createFrame">
                <img src="/Zertifikate.svg" alt="">
                <h3>Zertifikate</h3>
            </div>
        </div>
    </div>
</div>