<div class="heroContent">
    <div class="heroGridContent">
        <div class="parent">
            <div class="div1 createFrame">
                <h1>Hey, I'm David</h1>
                <h2>Junior Frontend Developer</h2>
            </div>
            <div class="div2 createFrame">
                <h1>Github Graph</h1>
            </div>
            <div class="div3 createFrame">
                <img src="/linkedInIcon.png" alt="">

                .<h3>LinkedIn</h3>
            </div>
            <div class="div4 createFrame">
                <img src="" alt="">
            </div>
            <div class="div5 createFrame">
                <h3>Age: 26</h3>
                <h3>Passion: Development, Gaming, Design</h3>
                <h3>Living in Weißenburg in Bayern</h3>
            </div>
            <div class="div6 createFrame"> </div>
            <div class="div7 createFrame"> </div>
            <div class="div8 createFrame"> </div>
            <div class="div9 createFrame"> </div>
        </div>
    </div>
</div>