.createFrame {
  border: 1px solid #59ff00;
  background-color: rgba(32, 33, 44, 0.4);
  border-radius: 20px;
  text-align: center;
}

.parent {
  padding-top: 10px;
  color: white;
  display: grid;
  padding-inline: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
}
.div2 {
  grid-area: 1 / 3 / 3 / 6;
}
.div3 {
  grid-area: 1 / 6 / 3 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-block: 20px;
  font-size: 28px;
}
.div4 {
  grid-area: 3 / 1 / 7 / 2;
}
.div5 {
  grid-area: 3 / 2 / 5 / 3;
  padding-inline: 14px;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
}
.div6 {
  grid-area: 3 / 3 / 5 / 6;
}
.div7 {
  grid-area: 3 / 6 / 5 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  gap: 40px;
}
.div8 {
  grid-area: 5 / 2 / 7 / 6;

  .motivationSpeach img {
    padding-bottom: 20px;
  }

  .motivationSpeach,
  .technologieRequest,
  .location {
    padding-block: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}
.div9 {
  grid-area: 5 / 6 / 7 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 28px;
  gap: 40px;
  padding-inline: 20px;

  img {
    width: 98px;
    height: 93px;
  }
}
